{% extends 'index.html' %} {% block content %}

<h1>STUDENTS</h1>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Cognom</th>
    <th>assignatures</th>
    <th>Rol</th>
    <th>Accions</th>
    <th>Accions</th>
  </tr>
  {% for student in students %}
  <tr>
    <td>{{ student.id }}</td>
    <td>{{ student.nom }}</td>
    <td>{{ student.cognom }}</td>
    <td>{{ student.assignatures }}</td>
    <td>{{ student.rol_id }}</td>
    <td>  <a href="{% url 'update_user' student.id %}">Update Users</a>  </td>
    <td><a href="{% url 'delete_user' student.id %}">Delete Users</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
